		<div class="f-nav">
			<ul class="menu">
				<li class="n-title">基本信息</li>
				<li><a href="__APP__/user/index"><span <?php echo ACTION_NAME == "index" ? ' class="hot"' : ' '; ?>>个人资料</span></a></li>
				<li><a href="__APP__/user/location"><span<?php echo ACTION_NAME == "location" ? ' class="hot"' : ' '; ?>>常用地址</span></a></li>
			</ul>
			<ul class="menu">
				<li class="n-title two">我的信息</li>
				<li><a href="__APP__/user/order"><span <?php echo ACTION_NAME == "order" ? ' class="hot"' : ' '; ?>>回收订单</span></a></li>
			</ul>
			<ul class="menu">
				<li class="n-title three">财务中心</li>
				<!-- <li><a href="__APP__/user/user_account"><span <?php echo ACTION_NAME == "user_account" ? ' class="hot"' : ' '; ?>>账户余额</span></a></li> -->
				<li><a href="__APP__/user/pay_account"><span <?php echo ACTION_NAME == "pay_account" ? ' class="hot"' : ' '; ?>>收款账号</span></a></li>
			</ul>
			<ul class="menu last">
				<li class="n-title four">安全中心</li>
				<li><a href="__APP__/user/safety"><span <?php echo ACTION_NAME == "safety" ? ' class="hot"' : ' '; ?>>账户安全</span></a></li>
			</ul>
		</div>