@import url("base.css");
.top-one{
	width:1200px;
	height:60px;
	line-height:60px;
	margin:0 auto;
	background:#FFF;

}

.logo{
	width:255px;
	height:60px;
	float:left;
}

.nav{
	width:555px;
	height:60px;
	float:right;
	cursor:pointer
}
.a-xq{
	overflow: hidden;
}
.nav-lf{
	width:333px;
	height:50px;
	text-align:center;
	float:left;
	display:inlin;
	margin-top:10px;
}

.nav-lf li{
	width:111px;
	line-height:42px;
	text-align:center;
	float:left
}

.nav-lf li a{
	font-size:16px;
	color:#666666;
}

.nav-lf li a:hover{
	color:#61bd52
}

.one-a{
	position:relative;
}

.nav-lf.one-a a{
	color:#61bd52;
}

.nav-lf li.one-a .one-a-a1{
	color:#61bd52;
	}
	
.nav-lf li.one-a a{
	width:81px;
	display:block;
	line-height:42px;
	text-align:center;
	margin:0 auto;
}

.nav-lf li.one-bb{
	width:111px;
	line-height:42px;
	background:#FFF;
	color:#61bd52;
	position:relative;
}

.nav-lf li.one-bb a{
	width:81px;
	display:block;
	line-height:42px;
	text-align:center;
	margin:0 auto;
}

.one-a a img{
	float:right;
	margin-top:20px;
}
	
.one-b{
	width:111px;
	height:166px;
	display:none;
	background:#FFF;
	position:absolute;
	left:0px;
	top:0px;
	z-index:5;
	box-shadow:#999 0px 0px 3px 0px;
	display:none
}

.nav-lf li.one-a .one-b a{
	width:93px;
	line-height:30px;
	display:block;
	float:left;
	text-align:left;
	color:#666666;
	font-size:14px;
	padding-left:18px
}
.nav-lf li.one-a .one-b a:hover{
	color:#61bd52
	}


.one-a img{
	float:right;
	margin-top:27px;
}

.nav-lf li.one-a>img:hover{
	transform:rotate(179deg)
}

.nav-rf{
	width:222px;
	height:60px;
	float:right
}

.nav-rf li{
	width:103px;
	height:32px;
	float:right;
	margin-top:14px;
	position:relative;
}
.nav-rf li:hover{
	box-shadow:#ccc 3px 3px 2px; 
}

.nav-rf li img{
	float:left
}

.nav-rf li em{
	width:16px;
	height:15px;
	background:url(../img/nav-gw02.png) no-repeat center center;
	position:absolute;
	top:-5px;
	right:14px;
	line-height:15px;
	text-align:center;
	color:#FFF;
	font-size:10px
}
/*top   end*/
#main-box{
	width:100%;
}
#title_{
	width:100%;
	height:400px;
	background:#229DE1;
}
#main-box .main{
	width:1200px;
	margin:0 auto;
}
#main-box .main .title_img{
	width:100%;
	height:400px;
}
#conA{
	width:100%;
	background:#e4e7e9;
}
#content{
	width:1200px;
	margin:0 auto;
	
}
.aa{
	background:#e4e7e9;
}
#content .title img{
	display: block;
	padding:30px 0 28px 0;
	margin:0 auto;
}
#content .demand{
	width:582px;
	height:392px;
}
#content .demand h6{
	font-weight: normal;
	font-size:18px;
	color:#666;
	margin-bottom:24px;
}
#content .left{
	float:left;
	
}
#content .right{
	float:right;
}
#content .demand p{
	color:#999;
	font-size:14px;
	line-height: 260%;
}
#main-box .contentBox{
	width:100%;
	
	background:#fff;
}
#contact{
	width:1200px;
	height:268px;
	margin:0 auto;
}
#contact span{
	float:left;
	display: block;
	margin-top:80px;
	color:#999999;
	font-size:14px;
	line-height: 260%;
}
#contact span em{
	color:#61bd52;
}

#contact span p{
	font-size:18px;
}
#contact span i{
	font-size:18px;
}