/* CSS Document */
.header-one{
	width:980px;
}
.nav{
	width:980px;
	height:81px;
	margin:0 auto
}

.navlf{
	width:255px;
	height:60px;
	padding:10px 0px;
	float:left;
}

.navrf{
	width:555px;
	height:81px;
	float:right
}

.navrf img{
	max-height:81px;
}

.menu{
	width:980px;
	min-height:600px;
	margin:0 auto;
	margin-top: 10px
}

.menu-one{
	width:978px;
	height:auto;
	border:solid 1px #eaeaea
}

.subtop{
	width:978px;
	height:40px;
	color:#666666;
	font-size:12px;
	background:#f4f4f4;
	border-bottom:solid 1px #eaeaea
}

.subtop div{
	float:left;
	line-height:40px;
	text-align:left
}

.subtop-a{
	width:145px;
	margin-left:15px;
}

.subtop-a a{
	display:block;
	float:left;
	line-height:40px;
}

.subinput{
	float:left;
	width:15px;
	height:15px;
	margin-top:13px
}

.subtop-b{
	width:345px;
}

.subtop-c{
	width:210px;
}

.subtop-d{
	width:180px;
}

.subtop-e{
	width:80px;
}

.border{
	border-bottom:solid 1px #eaeaea
}

.subcent{
	width:940px;
	height:110px;
	margin:0 auto
}

.subcent div{
	float:left;
	height:110px;
}

.subcent div a{
	font-size:14px;
	color:#666666
}

.subcent div a:hover{
	color: #61bd52
}

.subcent-a{
	width:45px;
}

.ceninput{
	width:15px;
	height:15px;
	float:left;
	margin:47px 0px 0px 0px;
}

.subcent-b{
	width:390px;
	line-height:110px;
}

.subcent-b img{
	float:left;
	max-width:60px;
	margin-top:25px;
	
}

.subcent-c{
	width:150px;
	padding-left:40px;
	line-height:110px;
}

.subem-a{
	padding-left:15px;
	padding-right:5px;
	font-size:12px;
	color:#FFF;
	display:inline;
	background:#444444 url(../img/em-02.png) no-repeat 5px center
}

.subem-b{
	padding-left:15px;
	padding-right:5px;
	font-size:12px;
	color:#FFF;
	display:inline;
	background:#f52424 url(../img/em-03.png) no-repeat 5px center
}


.subcent-d{
	width:200px;
	text-align:center;
	line-height:110px;
	font-size: 14px;
	color: #666
}

.subcent-e{
	width:105px;
	padding-top:35px
}

.subcent-e span{
	display:block;
	float:left;
	width:85px;
	padding-left:20px;
	line-height:20px;
	text-align:center
}

.subcent-e span a{
	color:#61bd52;
}

.subcent-e span a:hover{
	text-decoration:underline
}

.subbottom{
	width:779px;
	height:38px;
	float:left;
	margin-top:20px;
	font-size:12px;
	color:#666666;
	border:solid 1px #eaeaea;
	border-right:none
}

.subbottom div{
	float:left;
	text-align:left;
	line-height:40px;
}

.bottom-b{
	width:100px;
}

.bottom-b a{
	color:#666666
}

.bottom-b a:hover{
	color:#61bd52
}

.bottom-c{
	margin-right:  22px
}

.subaniu{
	width:200px;
	height:40px;
	line-height:40px;
	color:#FFF;
	font-size:16px;
	background:#ef543b;
	float:right;
	margin-top:20px;
	text-align:center;
	cursor:pointer
}
.subaniu a{
	color:#FFF;
}
.subaniu:hover{
	background:#e62323
}
.subaniu:active{
	background:#C71313
}
.tianj{
	width:188px;
	height:38px;
	line-height:38px;
	margin:0 auto;
	margin-top:115px;
	text-align:center;
	font-size:16px;
	color:#666666;
	border:solid 1px #dadada;
	cursor:pointer;
	background:url(../img/subtianj-02.png) no-repeat 40px center;
	margin-bottom: 50px;
}
.tianj a{
	color:#666;
	display:block;
	padding-left: 10px;
}

.tianj:hover{
	border:solid 1px #61bd52;
	background:#61bd52 url(../img/subtianj-022.png) no-repeat 40px center;
}
.tianj:hover a{
	color:#fff;
}

.tianj:active{
	border:solid 1px #056125;
	background:#056125 url(../img/subtianj-022.png) no-repeat 40px center;
}
.tianj:active a{
	color:#fff;
}

.menu-one div input{
	cursor:pointer
}


.later{
	width:980px;
	height: 50px;
}

#tab{
	width:980px;
	height:48px;
	border-bottom:solid 2px #61bd52;
}

#tab li{
	width:165px;
	height:47px;
	line-height:47px;
	text-align:center;
	font-size:14px;
	color:#999;
	float:left;
	margin-right:5px;
	border:solid 1px #eaeaea;
	border-bottom:none;
	cursor:pointer
}

#tab li.current{
	color:#FFF;
	background:#61bd52;
	border:solid 1px #61bd52;
	border-bottom:none;
}






.ovh{
	width:275px;
	overflow:hidden
}

.subcent div.cvvc{
	height:25px;
	margin:43px 0 0 10px;

}

.cvvc:hover ol.eye-ol{
	display:block
}

.eye{
	font-size:12px;
	color:#999;
	padding-left:29px;
	padding-right:20px;
	height:25px;
	line-height:25px;
	background:url(../img/hscy-02.png) no-repeat 2px center;
	display:none;
	float:right;
	cursor:pointer;
}

.eye-ol{
	min-width:350px;
	max-height:600px;
	padding:15px 20px;
	position:absolute;
	margin-top:-190px;
	margin-left:90px;
	background:#FFF;
	box-shadow:0 0 12px 1px rgba(0,0,0,.4);
	z-index:999;
	display:none;
	float:left;
	overflow: auto;
}

.eye-ol h3{
	height:50px;
	line-height:50px;
	text-align:left;
	font-size:14px;
	color:#444;
	margin-bottom:10px;
	border-bottom:solid 1px #eaeaea;
}

.eye-ol li{
	min-width:220px;
	height:40px;
}

.eye-ol f{
	min-width:220px;
	min-height:40px;
	margin-top:15px;
	float:left;
}

.eye-ol f u{
	min-width:110px;
	line-height:30px;
	float:left;
}

.eye-ol f b{
	line-height:30px;
	float:right;
	min-width:110px;
	font-size:14px;
	color:#444444
}

.eye-ol li u,.eye-ol li b{
	display:block;
	float:left;
	height:40px;
	line-height:40px;
	text-align:left;
	text-decoration: none;
}


.border-top{
	border-top:solid 1px #eaeaea
}

.eye-ol li u,.eye-ol f u{
	min-width:110px;
	font-size:12px;
	color:#666666;
	text-decoration: none;
}

.eye-ol li b{
	min-width:110px;
	font-size:14px;
	color:#444444
}

.eye:hover{
	color:#61bd52;
	background:url(../img/hscy-02b.png) no-repeat 2px 4px;
}

.subcent:hover i.eye{
	display:block
}


		/*sky*/
		.sky{
			width: 465px;
			height: 220px;
			margin: 0 auto;
			display: none;
		}
		.left-sky,.right-sky{
			height: 77px;
			float: left;
			margin-top: 70px;
		}
		.left-sky{
			width: 85px;
			margin-right: 9px;
		}
		.right-sky{
			width: 370px;
			
		}
		.right-sky span{
			display:block;
			line-height: 35px;
			font-size: 14px;
			color: #666;
		}
		.right-sky p{
			float: left;
			width: 65px;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
		.right-sky p a{
			display: block;
			background: #61bd52;
			font-size: 12px;
			color: #fff;
		}
		.right-sky p a:hover{
			background: #0f903c;
		}
		.right-sky p a:active{
			background: #056125;
		}
		.right-sky i{
			float: left;
			margin-left: 15px;
			line-height: 30px;
		}
		.right-sky i a{
			display: block;
			font-size: 12px;
			color: #61bd52;
		}
		.right-sky i a:hover{
			text-decoration: underline;
		}