@import url("base.css");
.top-one{
	width:1200px;
	height:60px;
	line-height:60px;
	margin:0 auto;
	background:#FFF;

}

.logo{
	width:255px;
	height:60px;
	float:left;
}

.nav{
	width:555px;
	height:60px;
	float:right;
	cursor:pointer
}
.a-xq{
	overflow: hidden;
}
.nav-lf{
	width:333px;
	height:50px;
	text-align:center;
	float:left;
	display:inlin;
	margin-top:10px;
}

.nav-lf li{
	width:111px;
	line-height:42px;
	text-align:center;
	float:left
}

.nav-lf li a{
	font-size:16px;
	color:#666666;
}

.nav-lf li a:hover{
	color:#61bd52
}

.one-a{
	position:relative;
}

.nav-lf.one-a a{
	color:#61bd52;
}

.nav-lf li.one-a .one-a-a1{
	color:#61bd52;
	}
	
.nav-lf li.one-a a{
	width:81px;
	display:block;
	line-height:42px;
	text-align:center;
	margin:0 auto;
}

.nav-lf li.one-bb{
	width:111px;
	line-height:42px;
	background:#FFF;
	color:#61bd52;
	position:relative;
}

.nav-lf li.one-bb a{
	width:81px;
	display:block;
	line-height:42px;
	text-align:center;
	margin:0 auto;
}

.one-a a img{
	float:right;
	margin-top:20px;
}
	
.one-b{
	width:111px;
	height:166px;
	display:none;
	background:#FFF;
	position:absolute;
	left:0px;
	top:0px;
	z-index:5;
	box-shadow:#999 0px 0px 3px 0px;
	display:none
}

.nav-lf li.one-a .one-b a{
	width:93px;
	line-height:30px;
	display:block;
	float:left;
	text-align:left;
	color:#666666;
	font-size:14px;
	padding-left:18px
}
.nav-lf li.one-a .one-b a:hover{
	color:#61bd52
	}


.one-a img{
	float:right;
	margin-top:27px;
}

.nav-lf li.one-a>img:hover{
	transform:rotate(179deg)
}

.nav-rf{
	width:222px;
	height:60px;
	float:right
}

.nav-rf li{
	width:103px;
	height:32px;
	float:right;
	margin-top:14px;
	position:relative;
}
.nav-rf li:hover{
	box-shadow:#ccc 3px 3px 2px; 
}

.nav-rf li img{
	float:left
}

.nav-rf li em{
	width:16px;
	height:15px;
	background:url(../img/nav-gw02.png) no-repeat center center;
	position:absolute;
	top:-5px;
	right:14px;
	line-height:15px;
	text-align:center;
	color:#FFF;
	font-size:10px
}
/*top   end*/
#main-box{
	width:1200px;
	margin:0 auto;
}
#main-box .title{
	width:1200px;
	box-sizing:border-box;
	margin:50px 0 0 0;
	border:1px solid #e4e4e4;
	position:relative;
	height:366px;
}

#main-box .title .span_{
	width:340px;
	height:305px;
	background:#61bd52;
	position:absolute;
	top:0;
	left:53px;
	display: block;
	color:#fff;
}
#main-box .title .span_ h5{
	padding-top:60px;
	padding-left:20px;
	padding-bottom:40px;
	font-size:18px;
}
#main-box .title .span_ p{
	font-size:16px;
	padding-left:20px;
	line-height: 200%;
}
#main-box .title .span_ p i{
	color:#61bd52;
}
#list{
	width:1200px;
	padding-bottom:73px;
}
#list ul{
	width:362px;
	height:150px;
	overflow: hidden;
	box-sizing:border-box;
	padding-left:85px;
	float:left;
	margin-right:56px;
	margin-top:72px;
}
#list ul:last-of-type{
	width:100%;
	height:auto;
}
#list ul:last-of-type a{
	color:#61bd52;
}
#list ul:last-of-type a:hover{
	text-decoration: underline;
	color:#0f903c;
}
#list ul.marginT{
	margin-top:55px;
}
#list ul.marginR{
	margin-right:0;
}
#list ul li{
	font-size:14px;
	color:#999999;
	line-height: 220%;
}
#list ul li h6{
	font-weight: normal;
	font-size:20px;
	color:#333;
	margin-top:24px;
	margin-bottom:12px;
}
b.titles{
	display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 200px;
}
.dll dt {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
    width: 200px;
}