<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心--账户余额</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Pc2.0/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/pc2.0/css/zhanghu.css">
	<link rel="stylesheet" href="__PUBLIC__/pc2.0/css/userpublic.css">
	<script src="__PUBLIC__/pc2.0/js/jquery-1.7.2.min.js"></script>
	<script src="__PUBLIC__/pc2.0/js/user_public.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Pc2.0/js/public.js"></script>
	<link REL = "Shortcut Icon" href="__PUBLIC__/logo.ico"> 
</head>
<body>
    <include file="Public/2.0header"/>
	<include file="Public/2.0hint"/>
    <include file="Public/2.0user_header"/>
	<div class="h"></div>
	<div id="content2">
    	<include file="Public/nav"/>
		<div class="f-info">
			<h5>账户余额</h5>
			<h6>可用余额<i>$0</i><a href="">提现</a></h6>
			<h6 class="suoding">锁定余额<i>$0000</i><a href="">锁定余额暂时无法使用</a></h6>
			<h6 id="mingXi"><b class="">收支明细</b><div class="clear"></div></h6>
			<div id="title">
				<span class="time">时间</span>
				<span class="type">类型</span>
				<span class="money">金额</span>
				<span class="remarks">备注</span>
			</div>
			<ul class="lists">
				<li class="time_">2016-01-05&nbsp;19:27:02</li>
				<li class="type_">支出</li>
				<li class="money_"><em>￥1128</em></li>
				<li class="remarks_">订单<em>11812782771</em>以旧换新补差价</li>
			</ul>
			<ul class="lists">
				<li class="time_">2016-01-05&nbsp;19:27:02</li>
				<li class="type_">支出</li>
				<li class="money_"><em>￥1128</em></li>
				<li class="remarks_">订单<em>11812782771</em>以旧换新补差价</li>
			</ul>
			<ul class="lists" style="padding-bottom:177px">
				<li class="time_">2016-01-05&nbsp;19:27:02</li>
				<li class="type_">支出</li>
				<li class="money_"><em>￥1128</em></li>
				<li class="remarks_">订单<em>11812782771</em>以旧换新补差价</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
    <include file="Public/2.0footer"/>

</body>
</html>