<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>易回购</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" href="__PUBLIC__/phone2.0/css/jixingx.css">
	<link REL = "Shortcut Icon" href="__PUBLIC__/phone/logo.ico"> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/phone/style/public.css">
    <link REL = "Shortcut Icon" href="__PUBLIC__/phone/logo.ico"> 
</head>
<body>
    <include file="Public/header"/>
	<div class="constainer-fluid" style="margin-top: 50px;">
		<div class="row" style="margin:0">
			<div class=" col-xs-4 title">
				<h5 class="pinpai">品牌</h5>
				<div class="info" style="overflow: scroll; height: 270px;">
					<ul>
					    <volist name="brand_list" id="vo">
              				<if condition="$key eq 0">
								<li class="first brand_id" bid="{$vo.brand_id}"><i></i><a href="javascript:;">{$vo.brand_name}</a></li>
              				<else />
								<li class="brand_id" bid="{$vo.brand_id}"><i></i><a href="javascript:;">{$vo.brand_name}</a></li>
              				</if>
						</volist>
					</ul>
				</div>
			</div>
			<div class="col-xs-8 box">
				<h5 class="xinghao">型号</h5>
				<div class="info" style="overflow: scroll; height: 270px;">
					<ul class="lis_">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<include file="Public/footer" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.2.min.js" ></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/phone2.0/js/public.js" ></script>
	<script>
		$(function() {
			var btns = $('.title .info li');
			btns.click(function() {
				btns.removeClass('first');
				$('i', btns).css('background', '');
				$('a', btns).css('color', '');
				$('i', this).css('background', '#1cb089');
				$('a', this).css('color', '#1cb089')
			});
			var winH = $(window).height();
			$('.title .info').height(winH - 29);
			$('.box .info').height(winH - 29)
		});

		function brand(id) {
			alert(id);
		};
		$(".brand_id").click(function() {
			var bid = $(this).attr("bid");
			var cid = $(".cid").attr("cid");
			$.post(
				"__URL__/ajax_list", 
				{
					"bid": bid,
					"cid": cid
				}, function(data) {
					$(".lis_").html(data);
				}, 
				'html'
			)
		});
	</script>
</body>
</html>